.customButton{
    height: 100px;
    display: flex;
    align-items: center;
}
.button{
    font-size: 18px;
    font-weight: 700;
    background: var(--black);
    padding: 12px 17px;
    border-radius: 7px;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0); 
    box-shadow: 0px 11px 10px -10px var(--black);
}
.button a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: var(--white);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 4px;
}
.button:hover a{
    color:var(--black);
}
.button:hover a:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 7px;
}
.button a{
    color:var(--white);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    overflow: hidden;
}
.button a svg{
    margin-right: 10px;
}
